<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= form_with(scope: :search, url: users_path, method: :get, local: true) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, value: @search_params[:name] %>

  <%= f.label :email %>
  <%= f.text_field :email, value: @search_params[:email] %>

  <%= f.submit('Search') %>
<% end %>

<%= will_paginate %>
<ul class="users">
  <%= render @users %>
</ul
<%= will_paginate %>
